<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
<!-- <?eclipse version="3.0"?> -->
   <extension
         id="ConceptDiagramViewComponent"
         point="org.protege.editor.core.application.ViewComponent">
      <label
            value="ConceptViz">
      </label>
      <class
            value="uk.ac.brighton.vmg.cviz.ui.ViewComponent">
      </class>
      <category
            value="@org.protege.ontologycategory">
      </category>
   </extension>
   <extension
         id="CDWorkspaceTab"
         point="org.protege.editor.core.application.WorkspaceTab">
      <label
            value="ConceptViz">
      </label>
      <class
            value="uk.ac.brighton.vmg.cviz.ui.WorkspaceTab">
      </class>
      <index
            value="0.1">
      </index>
      <editorKitId
            value="OWLEditorKit">
      </editorKitId>
      <defaultViewConfigFileName
            value="viewconfig-CDTab.xml">
      </defaultViewConfigFileName>
   </extension>
</plugin>